.calendar{
  display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.calendar .date-selectors {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  justify-content: center;
  margin: 50px;
}

.calendar .date-selectors select{
  width: 110px;
  height: 50px;
  font-size: 36px;
}
