/* Day Frames */
.calendar .days-board{
  margin: 50px 60px;
  width: 100%;
}

.calendar .day-frame {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  width: 100%;
}

.calendar .day-frame button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0px;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 5px;
  cursor: pointer;
}

.calendar .day-frame .frames {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.calendar label{
  width: 40px;
  align-self: flex-start;
}

.calendar .day-frame .event-button{
  margin-bottom: 0px;
  background-color: rgba(237, 170, 0, 0.527);
}