.frames {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.2rem;
  height: 10rem;
  border-right: solid 1px rgba(0, 0, 0, 0.144);
  border-bottom: solid 1px rgba(0, 0, 0, 0.144);
}
.frames:hover{
  background-color: rgb(249, 250, 255);
}

.events {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  overflow: auto;
  overflow-x: hidden;
  transition: background-color .8s;
}

.events::-webkit-scrollbar{
  width: 2px;
  height: 10px;
}

.events:hover::-webkit-scrollbar-thumb {
  background-color: black;
}

.filled {
  border: none;
  background-color: rgb(109, 109, 248);
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 8px;
  color: white;
  font-size: small;
}

.empty {
  border: none;
  background-color: rgb(253, 250, 246);
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 8px;
}
