.register-context {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.signup-container {
  display: flex;
  background-color: rgb(230 230 230);
  max-width: 450px;
  height: 280px;
  padding: 40px;
  border: 1px solid rgb(217 209 209);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  box-shadow: 8px 8px 16px 0px #0000005c;
}

.signup-container input{
  border-radius: 5px;
  border: solid 1px #bdbcb6;
  background-color: transparent;
  padding: 5px;
}

.signup-container input:hover{
  box-shadow: 0px 0px 16px 0px #00000033;
}

.register-button{
  border-radius: 5px;
  padding: 5px;
  border: solid 1px #bdbcb6;
  justify-content: center;
  width: 67px;
  cursor: pointer;
}

.register-button:hover{
  box-shadow: 0px 0px 16px 0px #00000033;
}


.username-fields {
  display: flex;
  flex-direction: column;
}

.password-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}