.hero {
  flex: 1;
  display: flex;
  width: 100%;
  height: 0;
}

.modal {
  background-color: rgb(253, 250, 246);
  padding: 2rem;
  border: none;
  border-radius: 4px;
  box-shadow: -4px 6px 8px 0px #0000002b;
}

/* 768px tablet version */
@media only screen and (max-width: 768px){ 
  .hero {
    flex-direction: column;
  }
}

/* 425 Mobile version */
@media screen {
  
}